.env
hass.db
.venv/
.vscode/
devtool/
__pycache__/
hassclient/__pycache__/
zenboclient/__pycache__/
pyzenbo/build/
pyzenbo/dist/
pyzenbo/pyzenbo.egg-info/
pyzenbo/pyzenbo/__pycache__/
pyzenbo/pyzenbo/modules/__pycache__/
